body{
    background-color:lightskyblue;
}

hr{
    width: 90%;
    height: 3px;
    background-color: red;
    border-color: red;
}


h3{
    color: brown;
}

.title1{
    color: yellowgreen;
}

ol li{
    list-style-type: lower-alpha;
    
}